{% extends "home.html" %}

<head>
    {% block title %} Register form {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    {% block content %}
    <div class="max-w-md mx-auto mt-40 border rounded">
        <h1 class="text-4xl font-bold text-center pt-10">Register</h1>
        <form method="POST" action="/register" class="p-10">
            {{ form.hidden_tag() }}
            <div>
                <label class="font-semibold" for="name">{{ form.name.label }}</label>
                {{ form.name(class_="w-full pl-2 py-1 text-gray-700 outline-none border border-gray-500 rounded
                hover:border-orange-500 hover:shadow-md hover:shadow-orange-200 ", placeholder="Enter Full Name") }}
                {% for error in form.name.errors %}
                <span class="text-red-500 text-sm">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mt-2">
                <label class="font-semibold" for="email">{{ form.email.label }}</label>
            {{ form.email(class_="w-full pl-2 py-1 text-gray-700 outline-none border border-gray-500 rounded
            hover:border-orange-500 hover:shadow-md hover:shadow-orange-200 ", placeholder="Enter Email") }}
            {% for error in form.email.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}
            </div>

            <label class="font-semibold mt-2" for="password">{{ form.password.label }}</label>
            {{ form.password(class_="w-full pl-2 py-1 text-gray-700 outline-none border border-gray-500 rounded
            hover:border-orange-500 hover:shadow-md hover:shadow-orange-200 ", placeholder="Enter Password") }}
            {% for error in form.password.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}

            {{ form.submit(class_="w-full bg-orange-500 py-2 rounded mt-2 text-white hover:bg-orange-400 hover:shadow-md
            hover:shadow-orange-200") }}
        </form>
    </div>
    {% endblock %}
</body>