{% extends "home.html" %}

<head>
    {% block title %} Success Page {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    {% block content %}
    <div class="max-w-md mx-auto mt-40 border rounded">
        <h1 class="text-4xl font-bold text-center pt-10">Registration Successful!</h1>
        <div class="p-10">
            <p class="mb-4">You have successfully registered.</p>
            <a href="/" class="inline-block mt-6 bg-orange-500 py-2 px-4 rounded text-white hover:bg-orange-400 hover:shadow-md hover:shadow-orange-200">Return to Home</a>
        </div>
    </div>
    {% endblock %}
</body>